@font-face {
    font-family: "pt-iconosaurus-16";
    src: url("../fonts/pt-iconosaurus-16.eot");
    src: url("../fonts/pt-iconosaurus-16.eot?#iefix&v=4.7.95") format("embedded-opentype"),
        url("../fonts/pt-iconosaurus-16.woff2?v=4.7.95") format("woff2"),
        url("../fonts/pt-iconosaurus-16.woff?v=4.7.95") format("woff"),
        url("../fonts/pt-iconosaurus-16.ttf?v=4.7.95") format("truetype");
    font-weight: normal;
    font-style: normal
}

body {
    font-family: "pt-iconosaurus-16" !important;
}